{
  "extends": [
    "greencoast"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "react/jsx-no-bind": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "one-var": "off",
    "max-len": ["warn", {
      "code": 120,
      "tabWidth": 2,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true,
      "ignoreComments": true
    }],
    "no-extra-parens": "off",
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "max-statements": "off",
    "no-console": "off",
    "no-undefined": "off"
  }
}
